<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
</head>
<body>
<div>
    <p>H2 database console here:<a href="/h2-console">http://localhost:8080/h2-console/</a></p>
</div>

<div>
    <h3>Edit Product</h3>
    <div>
        <form method="post" action="/ui/product/edit/save">
            <input type="hidden" name="id" value="{{id}}" />
            <p>Name: <input type="text" name="name" value="{{name}}" placeholder="Enter name"/></p>
            <p>Price: <input type="number" name="price" value="{{price}}" placeholder="Enter price $"/></p>
            <button type="submit">Save</button>
        </form>
        <form method="get" action="/ui/product">
            <button type="submit">Cancel</button>
        </form>
    </div>

</div>
</body>
</html>